.Dropdown{
    font-size: 0.9rem;
    width: 10rem;
    background-color: transparent;
    border: 0px solid black;
    outline: none;
}
.dropdown{
  height: 2rem;
  width: 10rem;
  border: 0.01rem solid black;
}

/* }
.content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown{
    position: relative;
     display: inline-block;
  }
  .options{
    display: block;
  }
  .options:hover{
    background-color: grey;
  }
.content:hover{
    display: block
}   */
