.cartIcon{
    font-size: 10rem;
}
.mainComponent{
    display: flex;
    gap: 2rem;
    width: 100%;
    flex-wrap: wrap;
}
.image{
    margin-top: 4rem;
    width: 13.5rem ;
    height: 18.25rem;
}
.container{
    margin-left: 1rem;
    width: 18rem;
    margin: 0px;
    padding: 0px;
}
.cartButton{
    background-color: #2c1132;
    color: white;
    width: 13.25rem;
    height: 1.9rem;
    font-weight: bold;
}
.emptyCart{
    margin-top: 4rem;
    margin-left: 18rem;
}
.continueButton{
    background-color: white;
    color: black;
    width: 12.25rem;
    height: 2.9rem;
    font-weight: bold;
    border: 0.01rem solid black;
    font-size: 1rem;
}
.continueButton:hover{
    background-color: #2c1132;
    color: white;
}
.continueButton:active{
    background-color: #531e5f;
}
.image{
    margin-top: 1rem;
    width: 13.5rem ;
    height: 18.25rem;
    border-radius: 1rem;
}
.image:hover{
    width: 14.2rem ;
    height: 20.25rem;
}
.container{
    margin-left: 1rem;
    width: 18rem;
    margin: 0px;
    padding: 0px;
    /* border: 0.01rem solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(244, 244, 244);
    border-radius: 1rem;
    box-shadow: 20px 20px 50px #e1dfdf, 
            -19px -19px 50px #e1dfdf;
}
.cartButton{
    background-color: #2c1132;
    color: white;
    width: 13.25rem;
    height: 1.9rem;
    font-weight: bold;
    border: 0.01rem solid black;
    border-radius: 1rem;

}
.cartButton:hover{
    background-color:  #514454;
}
.cartButton:active{
    background-color: #5d1f6b;
}
.button{
    padding-top: 0.2rem;
    background-color: #2c1132;
    height: 1.9rem;
    border: 0.01rem solid white;
    border-radius: 1rem;
}
.button:hover{
    background-color:  #514454;
}
.heartIcon{
    color: white;
    padding: 0px;
    margin: 0px;
}
.buttonWrapper{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.text{
    padding: 0px;
    margin: 0px;
    gap: 0.3rem;
    color: rgb(109, 106, 106);
}
.text1{
    padding: 0px;
    margin: 0px;
    gap: 0.3rem;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0.4rem;

}
.text2{
    padding: 0px;
    margin: 0px;
    gap: 0.3rem;
    text-transform:capitalize;
    font-weight: bold;
    padding: 0.4rem;

}
